/* 텍스트 지우기 */
.text-none{
    display: none;
}

/* 버튼 지우기 */
.btn-none{
    background: none;
    border: none;
    cursor: pointer;
}

.header-layout {
    position: relative; /* 상대 위치 설정 */
}

.header-layout::after {
    content: '';
    position: absolute;
    left: 20px; /* 왼쪽 여백 */
    right: 20px; /* 오른쪽 여백 */
    bottom: 0; /* 아래쪽 위치 */
    height: 1px; /* 선 두께 */
    background-color: var(--icon-color-bottom); /* 선 색상 */
}

/* -----------게시물------------------ */

/* 게시물 헤더*/
/* :is(
    .board,
   
){
    display: block;
    margin: 20px 20px;
   
    
} */

 .board{
    display: block;
    margin: 0 20px;
    padding-top: 20px;
    border-top: 1px solid var(--icon-color-bottom);
 }

.bd-head{
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;

    >div>button {
        background-image: url("/icon/more_horiz.svg");
        background-repeat: no-repeat;
        background-size: 24px 24px;;
        border: none;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-color: transparent;
        padding: 0px;
    }
}

/* 게시물제목 */
.bd-title{
    font-size: var(--font-size-3);
    font-weight: bold;
}



/* 더보기아이콘 */
.add{
    float: right;
    cursor: pointer;
}

/* 더보기 목록 */
.add-box{
    margin-top: -20px;
    display: flex; 
}

.add-box span{
    border: 1px solid var(--icon-color-bottom);
    margin-top: -20px;
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
}



/* 게시물 서브 리스트 */
.bd-sub{
    color: var(--icon-color-bottom);
}

.bd-sub span:nth-child(3){
    display: flex;
}

/* 게시물이미지 배경 크기 */
.img-bg{
    width: 370px;
    height: 200px;
    margin: 10px 0px;
}

/* 게시물이미지 */
.img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* 추천 아이콘 */
.rec{
    text-align: center;
    margin: 5px;
    
}

/* 추천 아이콘 박스 */
.rec-btn{
    border: 1px solid var(--color-text-hidden);
    background-color: var(--detail-color-main-3);
    border-radius: 5px;
    cursor: pointer;
}

/* 추천버튼눌렀을때 */
.rec-btn:focus {
    color: var(--color-main-3);
    background-color: var(--color-main-1);
}

/* 추천수 */
.rec-count{
   float: right;
   margin : 5px ;
}

/* 추천 아이콘 */
.thumb-up{
    background-image: url("/img/thumb-up.svg");
}