.review-section {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    
    }

    li {
        
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: 15px;
        border-radius: 10px;
        border: 1px solid var(--color-main-1);

        .img-box {
            padding-bottom: 20px;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            justify-items: center;
            align-content: center;
            width: 100%;
            align-items: center;

            img {
                border-radius: 15px;
                width: 200px;
                height: 200px;
            }
        }

        .info {
            gap: 10px;
            justify-items: center;
            justify-content: center;
            align-content: center;
            align-items: center;
            display: flex;
            dt {
                display: none;
            }
            .name {
                font-size: 16px;
                font-weight: bold;
            }
            .part {
                font-size: 16px;
                color: var(--color-main-1);
            }
        }

        .info2 {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            justify-items: center;
             justify-content: center;
            align-content: center;
            align-items: center;
            gap: 10px;

            div {
                display: flex;
                gap: 10px;

                dd {
                    padding-left: 25px;
                    margin-left: auto;
                }

                input{
                    padding-left: 5px;
                }
            }
        }
    }

.text{
    display: flex;
    gap: 5px;
    padding: 10px 20px 10px 20px;
    height: 130px;
    min-width: 0;

    div{
        writing-mode: horizontal-tb;
        display: inline-block;
        align-items: center;
        display: flex;
        
    }
    
}

.text-btn{
    width: 100%;
}

.detail{
    margin-left: 20px;
    margin-right: 20px;
    
    h1{
        display: none;
    }
}

.question{
    padding: 20px 10px 50px 10px;

    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;

        dl{
            font-size: 16px;
            margin-bottom: 10px;
        }
        input{
            line-height: normal;
            font-size: 14px;
            height: 72px;
        }
    }    
}

