:root{
    --color-main-1: #3E68FF;
    --icon-color-bottom: #7A7A7A;
    --color-academyinfo: #4C4C4C;
    --color-info-back: rgb(239,239,239,0.5);
    --color-back-ground: #EDEDED;
    --color-line: #C6C6C6;
    --color-text-hidden: #959595;
    --color-white: white;
    --color-gray: #e7e7e7;

    /* detail페이지 사용 색깔 */
    --detail--color-main-2: #747474;
    --detail--color-main-3: #FFF;
    --detail--color-main-5: #EFEFEF;
    --detail--color-main-6: #767676;
    --detail--color-main-7: #797979;

    --detail--color-sub-1: #FFB23E;
    --detail--color-sub-2: #696969;
    --detail--color-sub-3: #4E4E4E;
    --detail--color-sub-6: #959595;




    --icon-color-bottom: rgb(122,122,122);

    --font-size-0: 14px;
    --font-size-1: 16px;
    --font-size-2: 18px;
    --font-size-3: 20px;
    --font-size-4: 24px;
    --font-size-5: 40px;

    --gap-1:5px;
    --gap-2:10px;
    --gap-3:15px;
    --gap-4:20px;
    --gap-5:25px;
    --gap-6:50px;

    --radius-0: 0;
    --radius-1: 5px;
    --radius-2: 10px;
    --radius-3: 15px;
    --radius-4: 20px;

    --width-1:100px;
    --width-2:150px;
    --width-3:200px;
    --width-4:250px;
    --width-5:300px;
    --width-6:350px;

    --margin-0: 0px;
    --margin-1: 5px;
    --margin-2: 10px;
    --margin-3: 15px;
    --margin-4: 20px;
    --margin-5: 25px;
    --margin-6: 30px;
    --margin-7: 80px;
    --margin-8: 180px;


    --padding-0: 0px;
    --padding-1: 5px;
    --padding-2: 10px;
    --padding-3: 15px;
    --padding-4: 20px;
    --padding-5: 25px;
    --padding-6: 30px;


    --font-weight-1: light;
    --font-weight-2: medium;
    --font-weight-3: bold;

}

body{
    font-family:  'Pretendard','고딕','명조',Arial, Helvetica, sans-serif;
    /* font-family: Arial, sans-serif; */
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;

}

html{
    height: 100%;
}

main{
    flex-grow: 1;
}